# SPDX-FileCopyrightText: 2023-2025 Dom Rodriguez <shymega@shymega.org.uk>
#
# SPDX-License-Identifier: MIT

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps)"
    groups:
      cargo-deps:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(ci-deps)"
    groups:
      gh-actions-deps:
        patterns:
          - "*"
